<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Medical Information System</title>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link href='https://fonts.googleapis.com/css?family=Cookie' rel='stylesheet'/><link href='https://fonts.googleapis.com/css?family=Cookie' rel='stylesheet'/>
    <style>
        body {
            background-image: url("health-insurance.jpg");
            background-repeat: no-repeat;
            background-size:cover
        }
        h1{
            font-family: 'Cookie';
            font-size: 45px;
            margin-right:40px;
            margin-left:40px;

        }
    </style>
    <script>

        $(document).ready(function () {
            $('#loginButton').on('click', function() {
                $.ajax({
                    type: "POST",
                    url: "/login",
                    data: {username: $('#username').val()},
                    success: function (response) {
                        window.location.href = "/index/" + $('#username').val();
                    }
                });
            })
        });

    </script>
</head>
<body>
<div class="container-fluid" >
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div class="shadow p-3 mb-5 bg-white rounded" style="opacity: 0.8; height: 500px;  background-color: azure; text-align: center; margin-top: 90px">
                <h1 style="margin-top: 30px"> Medical Information System</h1>
                <div style="padding:10px; margin-top: 80px; text-align: left">
                    <label style="font-size: 20px" for="username"> <i class="fa fa-user-md"></i> Username </label>
                    <input class="form-control" type="text" id="username" />
                    <button id="loginButton" class="btn btn-default" style="margin-top:80px; float: right"> <i class="fa fa-heartbeat" style="font-size:36px; color:red"></i> </button>
                </div>
            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>

</body>

</html>
