<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Medical Information System</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link href='https://fonts.googleapis.com/css?family=Cookie' rel='stylesheet'/>
    <style>

    </style>
</head>
<body>

<div>

    <div id="writingProcessId" style="display: none;"> </div>

    <div id="pacient">
        <div id="view">
            <h2 id = "title"></h2>
            <p> <b> First Name: </b> <span id="firstName"></span> </p>
            <p> <b> Last Name: </b> <span id="lastName"></span> </p>
            <p> <b> Birth Date: </b> <span id="birthDate"></span> </p>
            <b> Diseases: </b>
            <ul id="diseases"></ul>
            <button id="editButton">Edit</button>
        </div>

        <div id="edit" style="display: none;">
            <input id="editName" /><br/>
            <button id="saveButton">Save</button>
        </div>

    </div>
</div>

</body>
<script>

    $(document).ready(function () {
        var href = window.location.href.split("/");
        $.ajax({
            type: "GET",
            url: "/pacientInfo/" + href[href.length - 3] + "/" + href[href.length - 2],
            success: function (response) {
                $("#firstName").text(response.firstName);
                $("#lastName").text(response.lastName);
                var date  = new Date(response.birthDate);
                $("#birthDate").text(date.toLocaleDateString());
                response.disease.forEach(function(d) {
                    $("#diseases").append('<li class="list-group-item">'
                        + d+ '</li>')


            });
        }
        });

        $('#editButton').on('click', function() {
            var href = window.location.href.split("/");
            $.ajax({
                type: "POST",
                url: "/stopReading",
                data: {processId: href[href.length - 1]},
                success: function (response) {}
            });

            $.ajax({
                type: "GET",
                url: "/startWriting/" + href[href.length - 2],
                success: function (response) {
                    console.log("Process started");
                    $('#writingProcessId').html(response);
                    $('#edit').css('display', 'block');
                    $('#view').css('display', 'none');
                }
            });
        });

        $('#saveButton').on('click', function() {
            var href = window.location.href.split("/");
            $.ajax({
                type: "POST",
                url: "/stopWriting",
                data: {processId: $('#writingProcessId').html()},
                success: function (response) {}
            });
            $.ajax({
                type: "GET",
                url: "/startReading/" + href[href.length - 2],
                success: function (response) {
                    console.log("Process started");
                    window.location.href = "/" + href[href.length - 3] + "/" + href[href.length - 2] + "/" + response;
                    $('#edit').css('display', 'none');
                    $('#view').css('display', 'block');
                }
            });
        });


        window.onbeforeunload = function (e) {
            var href = window.location.href.split("/");
            if ($('#edit').css('display') === 'none') {
                $.ajax({
                    type: "POST",
                    url: "/stopReading",
                    data: {processId: href[href.length - 1]},
                    success: function (response) {

                    }
                });
            } else {
                $.ajax({
                    type: "POST",
                    url: "/stopWriting",
                    data: {processId: $('#writingProcessId').html()},
                    success: function (response) {}
                });
            }
        };
    });

</script>
</html>